<div class="container-fluid">
  <div class="row container-fluid my-2 justify-content-center">
    <div
      class="col col-sm col-md col-md col-lg col-xl d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start"
    >
      <h5 class="text-secondary">Dashboard</h5>
    </div>
    <div
      class="col col-sm col-md col-md col-lg col-xl d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end"
    >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">art_track</i></a
      >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">create</i></a
      >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">star_border</i></a
      >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">filter_list </i></a
      >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">date_range </i></a
      >
      <a href=""
        ><i class="tiny mx-1 text-secondary material-icons">sync </i></a
      >
    </div>
  </div>
  <div class="row container-fluid mt-4 justify-content-center">
    <div class="container-stats card-group">
      <div class="row card-deck">
        <div
          class="ml-4 col card col-sm col-md col-md col-lg col-xl p-1 bg-white shadow-sm p-3 mb-5 bg-white rounded"
        >
          <h6>Demos</h6>
          <div class="card-body">
            <canvas id="barChart"></canvas>
          </div>
        </div>
        <div
          class="ml-2 col card col-sm col-md col-md col-lg col-xl p-1 bg-white shadow-sm p-3 mb-5 bg-white rounded"
        >
          <h6>Sales Team Health</h6>
          <div class="card-body"><canvas id="lineChart"></canvas></div>
        </div>
      </div>
      <div class="row card-deck flex-wrap">
        <div
          class="col card col-sm col-md col-md col-lg col-xl ml-4 p-1 bg-white align-middle shadow-sm p-3 mb-5 bg-white rounded"
        >
          <h6>Lead Updates Today</h6>
          <div
            class="d-flex card-body d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center display-4"
          >
            $71.4k
          </div>
        </div>
        <div
          class="col card col-sm col-md col-md col-lg col-xl ml-2 p-1 bg-white shadow-sm p-3 mb-5 bg-white rounded"
        >
          <h6>Leads By Stage</h6>
          <div class="card-body"><canvas id="pieChart"></canvas></div>
        </div>
        <div
          class="col card col-sm col-md col-md col-lg col-xl ml-2 p-1 bg-white shadow-sm p-3 mb-5 bg-white rounded"
        >
          <h6>Sales this Month</h6>
          <div
            class="d-flex card-body d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center display-4"
          >
            $3.6M
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
